html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-image: url("../img/bg1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%; }

#terminal {
  box-shadow: 5px 5px #0000007e;
  justify-content: center;
  align-content: center;
  width: 50%; }

.logo {
  width: 30%;
  padding: 10px; }

.menu {
  display: flex;
  width: 100%; }
  .menu > .menu-logo {
    justify-content: flex-start; }
  .menu .menu-button {
    font-size: 50px; }
  .menu a > span {
    color: black; }
    .menu a > span :hover {
      color: green; }
